# Logs
logs
*.log
npm-debug.log*

node_modules/
**/node_modules/
dist/
dist-ssr/
build/

# Expo & Mobile
.expo/
android/
ios/
*.apk
*.aab

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.sw?
